<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анкета</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet" />
  </head>

<div class="max-w-2xl container mx-auto pt-5"> 
  <body>

    <h1 class="font-bold mb-2 text-center text-lg">{{ title | titlecase }}</h1>

<form #applicantForm="ngForm" (ngSubmit)="onSend(applicantForm.value)">
  <div class="mb-6">
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">ФИО</label>
    <input type="text" name="studentname" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
</div>
  <div class="grid gap-6 mb-6 md:grid-cols-3">
      <div>
          <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Дата Рождения</label>
          <input type="date" name="birthday" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div>
          <label for="year" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Курс</label>
          <input type="text" name="year" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>
      <div>
          <label for="group" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Группа</label>
          <input type="text" name="Name_group" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
      </div>  
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
  <div class="mb-6">
    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Номер Телефона</label>
    <input type="tel" name="phone" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>
  <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
      <input type="email" name="Email" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
  </div>
</div>
  
<div class="flex gap-9 mb-9">
  <div>
<h3 class="mb-4 font-semibold text-gray-900 dark:text-black">Языки Программирования</h3>
<ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-black">
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="python" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="python" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Python</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="csharp" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="csharp" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">C#</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="cplusplus" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="cplusplus" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">C++</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="php" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="php" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">PHP</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
      <div class="flex items-center pl-3">
          <input name="html" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          <label for="html" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">HTML</label>
      </div>
  </li>
  <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
    <div class="flex items-center pl-3">
        <input name="js" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
        <label for="js" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">JS</label>
    </div>
</li>
<li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
  <div class="flex items-center pl-3">
      <input name="java" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
      <label for="java" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Java</label>
  </div>
</li>
<li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
  <div class="flex items-center pl-3">
      <input name="sql" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
      <label for="sql" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">SQL</label>
  </div>
</li>
</ul>
</div>

<div>
  <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Методологии</h3>
  <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center pl-3">
              <input name="scrum" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
              <label for="scrum" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Scrum</label>
          </div>
      </li>
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center pl-3">
              <input name="agile" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
              <label for="agile" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Agile</label>
          </div>
      </li>
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center pl-3">
              <input name="kanban" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
              <label for="kanban" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Kanban</label>
          </div>
  </ul>
  </div>

<div>
<h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Образование</h3>
<ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="university" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="university" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Университет</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="courses" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="courses" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Курсы</label>
        </div>
    </li>
    <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
        <div class="flex items-center pl-3">
            <input name="conferences" type="checkbox" value="" ngModel class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
            <label for="conferences" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Участие на коференциях</label>
        </div>
</ul>
</div>

</div>
<div class="mb-6">
  <h3 class="mb-4 font-semibold text-gray-900 dark:text-white">Опыт Работы</h3>
  <ul class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center mt-3 mb-3 pl-3">
            <label for="diploma" class="w-80 block mb-2 text-sm font-medium text-gray-900 dark:text-white">Дипломная работа на тему: </label>
            <input type="text" name="diploma" ngModel class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
      </li>
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center mt-3 mb-3 pl-3">
            <label for="itwork" class="w-20 block mb-2 text-sm font-medium text-gray-900 dark:text-white">В айти: </label>
    <input type="text" name="itwork" ngModel class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          </div>
      </li>
      <li class="w-full border-b border-gray-200 rounded-t-lg dark:border-gray-600">
          <div class="flex items-center w-20 pl-3">
            <label for="none" class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Нет</label>
              <input name="none" type="checkbox" ngModel value="" class="w-5 h-5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
          </div>
  </ul>
  </div>
  
  <div class="mb-6">
    <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Портфолио</h3>
    <input type="text" id="portfolio" rows="4" ngModel class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="О себе">

</div>
  

  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
  </body>


</div>


<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">2023</span>
</footer>
